# Django
celery==5.4.0
django-cors-headers==4.4.0
Django==5.0.7
django-redis==5.4.0
djangorestframework==3.15.2
gunicorn==23.0.0
joblib==1.4.2
mysqlclient==2.2.4
numpy==2.1.1
pandas==2.2.3
plotly==5.23.0
python_dateutil==2.9.0.post0
redis==5.0.8
Requests==2.32.3
scikit_learn==1.5.2

# Angular
#Requests==2.32.3
#setuptools==70.1.0
#setuptools==74.1.2
#typing_extensions==4.12.2
