/*Global Styles*/
body {
  background-color: #202124;
  color: white;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 100vh;*/
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#Plot {
  width: 90%;
  text-align: center;
  margin: auto;
}

.chart-container {
  width: 90%;
  max-width: 90%;
}

/*Flex container for the tables*/
.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.column {
  /*float: left;*/
  flex: 1;
  width: 33.33%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Table styling*/
th, td {
  text-align: center;
  white-space: nowrap;
  padding: 2px;
  border-bottom: dimgray 1px solid;
  border: #202124 1px solid;
}

table {
  border-collapse: collapse;
}

tr:hover, tr:nth-child(even):hover, tr:nth-child(odd):hover {
  background-color: #D81159;
  color: white;
}

tr:nth-child(even) {
  background-color: #D5ECD4;
  color: #202124;
}

tr:nth-child(odd) {
  background-color: #A3BFA8;
  color: #202124;
}

th {
  background-color: #2E86AB;
  color: white;
}
