<p>display.records works!</p>

<div class="row">
  <div class="column" *ngIf="graniteFallsData.length > 0; else noData">
    <table>
      <thead>
        <tr>
          <th>River Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Stage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of graniteFallsData">
          <td>{{ data.gauge_name }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.time }}</td>
          <td>{{ data.stage }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="column" *ngIf="jordanRoadData.length > 0; else noData">
    <table>
      <thead>
        <tr>
          <th>River Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Stage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of jordanRoadData">
          <td>{{ data.gauge_name }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.time }}</td>
          <td>{{ data.stage }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #noData>
  <p>No data available.</p>
</ng-template>
